.graph-explorer-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .graph-explorer-btn, > .graph-explorer-btn-group {
    position: relative;
    float: left;
  }

  > .graph-explorer-btn:hover,
  > .graph-explorer-btn:focus,
  > .graph-explorer-btn.active,
  > .graph-explorer-btn.active:hover {
    z-index: 2;
  }

  .graph-explorer-btn + .graph-explorer-btn,
  .graph-explorer-btn + .graph-explorer-btn-group,
  .graph-explorer-btn-group + .graph-explorer-btn,
  .graph-explorer-btn-group + .graph-explorer-btn-group {
    margin-left: -1px;
  }

  > .graph-explorer-btn:first-child {
    margin-left: 0;
  }

  &-sm > .graph-explorer-btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
  }

  &-xs > .graph-explorer-btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
  }
}
